<div class="my-5 mx-auto text-center w-50">
    <h1 class="mb-5">@Posting.Detail.JobTitle</h1>
    <h2 class="mb-2">Questionnaire</h2>
</div>
<div class="my-5 mx-auto w-50">
    @foreach (var Question in Posting.Questions)
    {
        <div class="mb-4">
            <h5 class="mb-3">@Question.Question</h5>
            @foreach (var Answer in Question.Answers.OrderBy(o => o.QuestionOrder))
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio"
                           name="@Question.ID"
                           onchange="@(()=> {
                               Application.QuestionAnswers[Question.ID] = Answer.ID;
})" />
                    <label class="form-check-label" for="@Question.ID">
                        @Answer.Answers
                    </label>
                </div>
            }
            <hr />
        </div>
    }
</div>

<div class="overflow-hidden text-center" style="min-height:200px">
    <div class="col mx-auto my-5">
        <a class="btn bg-light mt-3 fw-bold smooth-rounded px-5 py-2" @onclick="() => UpdateStatus.Invoke(ApplyStatus.OnReview)">Submit my Resume</a>
    </div>
    <a href="jobs">&lt; Back to search results </a>
</div>
@code {
    [Parameter] public JobPostingAPIReponse Posting { get; set; }
    [Parameter] public Action<ApplyStatus> UpdateStatus { get; set; }
    [Parameter] public ApplicationInfo Application { get; set; }
}